@font-face
    font-display: swap
    font-family: Outfit-Bold
    src: url(../assets/other/Outfit-Bold.woff2) format(woff2)

html, body
    margin: 0
    height: 100%
    user-select: none
    -webkit-tap-highlight-color: transparent

body
    background: rgb(0, 0, 0)

    &::after
        inset: 0
        content: ""
        position: fixed
        pointer-events: auto
        background: rgba(0, 0, 0, 0.5)

    &[data-overlay = "off"]::after
        display: none

    *
        &:focus, &:focus-visible
            outline: none

main
    gap: 10px
    padding: 10px
    display: flex
    flex-direction: column
    height: calc(100dvh - 20px)

    .lobby:open
        z-index: 1
        border: none
        border-radius: 5px
        top: calc(50dvh - 87.5px)
        padding: 10px 10px 15px 10px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

        form
            gap: 15px
            width: 200px
            display: flex
            flex-direction: column

            button
                transition: all 0.1s ease
                background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(220, 220, 220))

                &:active
                    transform: translateY(2.5px)

            button:not(button[value = "back"])
                height: 40px
                border: none
                cursor: pointer
                padding: 10px 0
                border-radius: 5px
                color: rgb(255, 255, 255)
                background: rgb(23, 123, 84)
                font-family: Outfit-Bold, sans-serif
                box-shadow: 0 5px 0 rgb(15, 80, 55), 0 5px 10px rgba(0, 0, 0, 0.5)

                &:active
                    box-shadow: 0 2.5px 0 rgb(15, 80, 55), 0 2.5px 5px rgba(0, 0, 0, 0.5)

            button:not(button[value = "back"]):disabled
                pointer-events: none
                will-change: transform
                color: rgb(255, 255, 255)
                animation: jolt 1.5s linear
                background: rgb(255, 102, 102)
                box-shadow: 0 5px 0 rgb(204, 51, 51), 0 5px 10px rgba(0, 0, 0, 0.5)

            button[value = "back"]
                height: 40px
                border: none
                cursor: pointer
                padding: 10px 0
                border-radius: 5px
                background: rgb(255, 255, 255)
                font-family: Outfit-Bold, sans-serif
                box-shadow: 0 5px 0 rgb(150, 150, 150), 0 5px 10px rgba(0, 0, 0, 0.5)

                &:active
                    box-shadow: 0 2.5px 0 rgb(150, 150, 150), 0 2.5px 5px rgba(0, 0, 0, 0.5)

    .lobby#start:open
        form
            div
                min-height: 40px
                line-height: 40px
                position: relative
                border-radius: 5px
                background: rgb(204, 204, 204)

                &::before
                    inset: 0
                    opacity: 1
                    content: ""
                    position: absolute
                    border-radius: 5px
                    pointer-events: none
                    animation: load 2s linear infinite
                    transition: opacity 0.2s ease-out 2s
                    background: linear-gradient(90deg, rgba(204, 204, 204, 0.55) 0%, rgba(255, 255, 255, 0.85) 50%, rgba(204, 204, 204, 0.55) 100%) 0 0 / 200% 100%

                #code
                    margin: 0
                    width: 100%
                    display: block
                    visibility: hidden
                    text-align: center
                    color: rgb(0, 0, 0)
                    letter-spacing: 0.15em
                    font-family: Outfit-Bold, sans-serif

                #send
                    top: 50%
                    margin: 0
                    padding: 0
                    right: 3.5px
                    display: block
                    cursor: pointer
                    visibility: hidden
                    position: absolute
                    transform: translateY(-50%)

                &:has(#code:not(:empty))::before
                    opacity: 0
                &:has(#code:not(:empty))
                    will-change: transform, filter
                    animation: zoom 0.2s ease-out 2s

                &:has(#code:not(:empty)) #code, &:has(#code:not(:empty)) #send
                    animation: show 0.2s ease-out 2s both

    .lobby#enter:open
        form
            input
                padding: 0
                height: 38.4px
                border: 1px solid
                text-align: center
                border-radius: 5px
                letter-spacing: 0.15em
                text-transform: uppercase
                font-family: Outfit-Bold, sans-serif

                &::placeholder
                    letter-spacing: 0
                    text-transform: none

    #table
        flex: 1
        padding: 10px
        overflow: auto
        position: relative
        border-radius: 5px
        background: rgb(23, 123, 84)
        border: 10px ridge rgb(239, 158, 87)
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5)

        *
            opacity: 1
            touch-action: none
            position: absolute
            visibility: visible
            transition: opacity 1s linear, visibility 0s

        .dragging
            will-change: transform, filter
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5))

        .selected
            will-change: filter
            animation: glow 1.5s ease-in-out infinite alternate

        &:has(> .selected)
            cursor: pointer

        .hands
            outline-offset: 3px
            outline: 3px solid rgb(0, 255, 0)

        .hides
            opacity: 0
            visibility: hidden
            pointer-events: none
            will-change: opacity
            transition: opacity 1s linear, visibility 0s linear 1s

        .decks
            top: 10px
            height: 51.6px
            padding-top: 4.5px

            &.ita
                width: 32.6px
            &.fra
                width: 35.6px

                &.blue
                    left: 47px
                &.red
                    left: 87px
                &.jolly
                    top: 70px

                    .cards
                        border: 1px solid rgb(204, 204, 204)

            .cards
                border: 1px solid
                border-radius: 1.5px

                &:nth-child(2)
                    transform: translateY(-1.5px)
                &:nth-child(3)
                    transform: translateY(-3px)
                &:nth-child(4)
                    transform: translateY(-4.5px)

        .chips
            left: 127px

            &.gold
                top: 50px
            &.blue
                top: 90px
            &.red
                top: 130px
            &.green
                top: 170px

        .dices
            left: 127px
            border-radius: 5px

            &.black
                top: 210px
            &.red
                top: 250px

        .board
            left: 167px

        .chess
            &.white
                left: 447px
            &.black
                left: 487px
            &.queen
                top: 50px
            &.bishop
                top: 90px
            &.knight
                top: 130px
            &.rook
                top: 170px
            &.pawn
                top: 210px

        .dames
            top: 250px

            &.white
                left: 450px
            &.black
                left: 490px

    #panel:open
        left: 20px
        margin: 10px
        border: none
        bottom: 20px
        padding: 0 0 5px 0
        border-radius: 5px
        width: calc(100dvw - 60px)
        background: rgba(0, 0, 0, 0)

        form
            gap: 10px
            height: 100%
            display: flex
            align-items: stretch

            button:not(button[value = "wipe"])
                flex: 1
                padding: 0
                border: none
                height: 40px
                display: none
                cursor: pointer
                border-radius: 5px
                transition: all 0.1s ease
                background: rgb(255, 255, 255)
                font-family: Outfit-Bold, sans-serif
                box-shadow: 0 5px 0 rgb(150, 150, 150), 0 5px 10px rgba(0, 0, 0, 0.5)
                background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(220, 220, 220))

                &.show
                    display: block

                &:active
                    transform: translateY(2.5px)
                    box-shadow: 0 2.5px 0 rgb(150, 150, 150), 0 2.5px 5px rgba(0, 0, 0, 0.5)

            button[value = "draw"]
                span
                    margin: 0
                    display: none
                    font-size: 10px
                    text-align: center
                    font-family: Outfit-Bold, sans-serif

            button[value = "wipe"]
                border: none
                font-size: 24px
                cursor: pointer
                background: none
                border-radius: 5px
                padding: 5px 0 0 0
                filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25))

    #allow:open
        border: none
        margin-top: 0
        margin-bottom: 0 
        border-radius: 5px
        top: calc(50dvh - 60px)
        padding: 10px 10px 15px 10px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

        &::backdrop
            background: rgba(0, 0, 0, 0.5)

        form
            gap: 15px
            width: 200px
            display: flex
            flex-direction: column

            button
                height: 40px
                border: none
                cursor: pointer
                padding: 10px 0
                border-radius: 5px
                transition: all 0.1s ease
                font-family: Outfit-Bold, sans-serif

                &:active
                    transform: translateY(2.5px)

            button[value = "wipe"]
                color: rgb(255, 255, 255)
                background: rgb(255, 102, 102)
                box-shadow: 0 5px 0 rgb(204, 51, 51), 0 5px 10px rgba(0, 0, 0, 0.5)

                &:active
                    box-shadow: 0 2.5px 0 rgb(204, 51, 51), 0 2.5px 5px rgba(0, 0, 0, 0.5)

            button[value = "back"]
                background: rgb(255, 255, 255)
                box-shadow: 0 5px 0 rgb(150, 150, 150), 0 5px 10px rgba(0, 0, 0, 0.5)

                &:active
                    box-shadow: 0 2.5px 0 rgb(150, 150, 150), 0 2.5px 5px rgba(0, 0, 0, 0.5)

@media (hover: hover) and (pointer: fine)
    button:hover
        border-radius: 90px !important

    #panel:open
        button[value = "wipe"]:hover
            will-change: transform
            animation: tada 1.5s ease-in-out

@keyframes load
    from
        background-position: 200% 0
    to
        background-position: -200% 0

@keyframes zoom
    from
        transform: scale(0.98)
        filter: brightness(1.2)
    to
        transform: scale(1)
        filter: brightness(1)

@keyframes show
    to
        visibility: visible

@keyframes jolt
    0%
        transform: translateX(5px)
    10%
        transform: translateX(-5px)
    20%
        transform: translateX(5px)
    30%
        transform: translateX(-5px)
    40%
        transform: translateX(5px)
    50%
        transform: translateX(-5px)
    60%
        transform: translateX(5px)
    70%
        transform: translateX(-5px)
    80%
        transform: translateX(5px)
    90%
        transform: translateX(-5px)
    100%
        transform: translateX(0)

@keyframes glow
    from
        filter: drop-shadow(0 0 0 rgb(255, 230, 120)) brightness(1)
    to
        filter: drop-shadow(0 0 5px rgb(255, 230, 120)) brightness(1.2)

@keyframes tada
    0%
        transform: scale(1) rotate(0)
    10%
        transform: scale(0.97) rotate(-5deg)
    20%
        transform: scale(0.97) rotate(5deg)
    30%
        transform: scale(1) rotate(-5deg)
    40%
        transform: scale(1.03) rotate(5deg)
    50%
        transform: scale(1.03) rotate(-5deg)
    60%
        transform: scale(1.03) rotate(5deg)
    70%
        transform: scale(1) rotate(-5deg)
    80%
        transform: scale(0.97) rotate(5deg)
    90%
        transform: scale(0.97) rotate(-5deg)
    100%
        transform: scale(1) rotate(0)