@font-face {
  font-display: swap;
  font-family: Outfit-Bold;
  src: url(../assets/other/Outfit-Bold.woff2) format(woff2);
}
html, body {
  margin: 0;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: rgb(0, 0, 0);
}
body::after {
  inset: 0;
  content: "";
  position: fixed;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
}
body[data-overlay=off]::after {
  display: none;
}
body *:focus, body *:focus-visible {
  outline: none;
}

main {
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 20px);
}
main .lobby:open {
  z-index: 1;
  border: none;
  border-radius: 5px;
  top: calc(50dvh - 87.5px);
  padding: 10px 10px 15px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
main .lobby:open form {
  gap: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
main .lobby:open form button {
  transition: all 0.1s ease;
  background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(220, 220, 220));
}
main .lobby:open form button:active {
  transform: translateY(2.5px);
}
main .lobby:open form button:not(button[value=back]) {
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: rgb(23, 123, 84);
  font-family: Outfit-Bold, sans-serif;
  box-shadow: 0 5px 0 rgb(15, 80, 55), 0 5px 10px rgba(0, 0, 0, 0.5);
}
main .lobby:open form button:not(button[value=back]):active {
  box-shadow: 0 2.5px 0 rgb(15, 80, 55), 0 2.5px 5px rgba(0, 0, 0, 0.5);
}
main .lobby:open form button:not(button[value=back]):disabled {
  pointer-events: none;
  will-change: transform;
  color: rgb(255, 255, 255);
  animation: jolt 1.5s linear;
  background: rgb(255, 102, 102);
  box-shadow: 0 5px 0 rgb(204, 51, 51), 0 5px 10px rgba(0, 0, 0, 0.5);
}
main .lobby:open form button[value=back] {
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  font-family: Outfit-Bold, sans-serif;
  box-shadow: 0 5px 0 rgb(150, 150, 150), 0 5px 10px rgba(0, 0, 0, 0.5);
}
main .lobby:open form button[value=back]:active {
  box-shadow: 0 2.5px 0 rgb(150, 150, 150), 0 2.5px 5px rgba(0, 0, 0, 0.5);
}
main .lobby#start:open form div {
  min-height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 5px;
  background: rgb(204, 204, 204);
}
main .lobby#start:open form div::before {
  inset: 0;
  opacity: 1;
  content: "";
  position: absolute;
  border-radius: 5px;
  pointer-events: none;
  animation: load 2s linear infinite;
  transition: opacity 0.2s ease-out 2s;
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.55) 0%, rgba(255, 255, 255, 0.85) 50%, rgba(204, 204, 204, 0.55) 100%) 0 0/200% 100%;
}
main .lobby#start:open form div #code {
  margin: 0;
  width: 100%;
  display: block;
  visibility: hidden;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: 0.15em;
  font-family: Outfit-Bold, sans-serif;
}
main .lobby#start:open form div #send {
  top: 50%;
  margin: 0;
  padding: 0;
  right: 3.5px;
  display: block;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  transform: translateY(-50%);
}
main .lobby#start:open form div[data-state=loading]::before {
  opacity: 0;
}
main .lobby#start:open form div[data-state=loading] {
  will-change: transform, filter;
  animation: zoom 0.2s ease-out 2s;
}
main .lobby#start:open form div[data-state=loading] #code, main .lobby#start:open form div[data-state=loading] #send {
  animation: show 0.2s ease-out 2s both;
}
main .lobby#start:open form div[data-state=ready]::before {
  opacity: 0;
  transition-delay: 0s;
}
main .lobby#start:open form div[data-state=ready] #code, main .lobby#start:open form div[data-state=ready] #send {
  visibility: visible;
}
main .lobby#enter:open form input {
  padding: 0;
  height: 38.4px;
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: Outfit-Bold, sans-serif;
}
main .lobby#enter:open form input::-moz-placeholder {
  letter-spacing: 0;
  text-transform: none;
}
main .lobby#enter:open form input::placeholder {
  letter-spacing: 0;
  text-transform: none;
}
main #table {
  flex: 1;
  padding: 10px;
  overflow: auto;
  position: relative;
  border-radius: 5px;
  background: rgb(23, 123, 84);
  border: 10px ridge rgb(239, 158, 87);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
main #table * {
  opacity: 1;
  touch-action: none;
  position: absolute;
  visibility: visible;
  transition: opacity 1s linear, visibility 0s;
}
main #table .dragging {
  will-change: transform, filter;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
main #table .selected {
  will-change: filter;
  animation: glow 1.5s ease-in-out infinite alternate;
}
main #table:has(> .selected) {
  cursor: pointer;
}
main #table .hands {
  outline-offset: 3px;
  outline: 3px solid rgb(0, 255, 0);
}
main #table .hides {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 1s linear, visibility 0s linear 1s;
}
main #table .decks {
  top: 10px;
  height: 51.6px;
  padding-top: 4.5px;
}
main #table .decks.ita {
  width: 32.6px;
}
main #table .decks.fra {
  width: 35.6px;
}
main #table .decks.fra.blue {
  left: 47px;
}
main #table .decks.fra.red {
  left: 87px;
}
main #table .decks.fra.jolly {
  top: 70px;
}
main #table .decks.fra.jolly .cards {
  border: 1px solid rgb(204, 204, 204);
}
main #table .decks .cards {
  border: 1px solid;
  border-radius: 1.5px;
}
main #table .decks .cards:nth-child(2) {
  transform: translateY(-1.5px);
}
main #table .decks .cards:nth-child(3) {
  transform: translateY(-3px);
}
main #table .decks .cards:nth-child(4) {
  transform: translateY(-4.5px);
}
main #table .chips {
  left: 127px;
}
main #table .chips.gold {
  top: 50px;
}
main #table .chips.blue {
  top: 90px;
}
main #table .chips.red {
  top: 130px;
}
main #table .chips.green {
  top: 170px;
}
main #table .dices {
  left: 127px;
  border-radius: 5px;
}
main #table .dices.black {
  top: 210px;
}
main #table .dices.red {
  top: 250px;
}
main #table .board {
  left: 167px;
}
main #table .chess.white {
  left: 447px;
}
main #table .chess.black {
  left: 487px;
}
main #table .chess.queen {
  top: 50px;
}
main #table .chess.bishop {
  top: 90px;
}
main #table .chess.knight {
  top: 130px;
}
main #table .chess.rook {
  top: 170px;
}
main #table .chess.pawn {
  top: 210px;
}
main #table .dames {
  top: 250px;
}
main #table .dames.white {
  left: 450px;
}
main #table .dames.black {
  left: 490px;
}
main #panel:open {
  left: 20px;
  margin: 10px;
  border: none;
  bottom: 20px;
  padding: 0 0 5px 0;
  border-radius: 5px;
  width: calc(100dvw - 60px);
  background: rgba(0, 0, 0, 0);
}
main #panel:open form {
  gap: 10px;
  height: 100%;
  display: flex;
  align-items: stretch;
}
main #panel:open form button:not(button[value=wipe]) {
  flex: 1;
  padding: 0;
  border: none;
  height: 40px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.1s ease;
  background: rgb(255, 255, 255);
  font-family: Outfit-Bold, sans-serif;
  box-shadow: 0 5px 0 rgb(150, 150, 150), 0 5px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(220, 220, 220));
}
main #panel:open form button:not(button[value=wipe]).show {
  display: block;
}
main #panel:open form button:not(button[value=wipe]):active {
  transform: translateY(2.5px);
  box-shadow: 0 2.5px 0 rgb(150, 150, 150), 0 2.5px 5px rgba(0, 0, 0, 0.5);
}
main #panel:open form button[value=draw] span {
  margin: 0;
  display: none;
  font-size: 10px;
  text-align: center;
  font-family: Outfit-Bold, sans-serif;
}
main #panel:open form button[value=wipe] {
  border: none;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 5px 0 0 0;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.25));
}
main #allow:open {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 5px;
  top: calc(50dvh - 60px);
  padding: 10px 10px 15px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
main #allow:open::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
main #allow:open form {
  gap: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
main #allow:open form button {
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
  transition: all 0.1s ease;
  font-family: Outfit-Bold, sans-serif;
}
main #allow:open form button:active {
  transform: translateY(2.5px);
}
main #allow:open form button[value=wipe] {
  color: rgb(255, 255, 255);
  background: rgb(255, 102, 102);
  box-shadow: 0 5px 0 rgb(204, 51, 51), 0 5px 10px rgba(0, 0, 0, 0.5);
}
main #allow:open form button[value=wipe]:active {
  box-shadow: 0 2.5px 0 rgb(204, 51, 51), 0 2.5px 5px rgba(0, 0, 0, 0.5);
}
main #allow:open form button[value=back] {
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 0 rgb(150, 150, 150), 0 5px 10px rgba(0, 0, 0, 0.5);
}
main #allow:open form button[value=back]:active {
  box-shadow: 0 2.5px 0 rgb(150, 150, 150), 0 2.5px 5px rgba(0, 0, 0, 0.5);
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    border-radius: 90px !important;
  }
  #panel:open button[value=wipe]:hover {
    will-change: transform;
    animation: tada 1.5s ease-in-out;
  }
}
@keyframes load {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
@keyframes zoom {
  from {
    transform: scale(0.98);
    filter: brightness(1.2);
  }
  to {
    transform: scale(1);
    filter: brightness(1);
  }
}
@keyframes show {
  to {
    visibility: visible;
  }
}
@keyframes jolt {
  0% {
    transform: translateX(5px);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glow {
  from {
    filter: drop-shadow(0 0 0 rgb(255, 230, 120)) brightness(1);
  }
  to {
    filter: drop-shadow(0 0 5px rgb(255, 230, 120)) brightness(1.2);
  }
}
@keyframes tada {
  0% {
    transform: scale(1) rotate(0);
  }
  10% {
    transform: scale(0.97) rotate(-5deg);
  }
  20% {
    transform: scale(0.97) rotate(5deg);
  }
  30% {
    transform: scale(1) rotate(-5deg);
  }
  40% {
    transform: scale(1.03) rotate(5deg);
  }
  50% {
    transform: scale(1.03) rotate(-5deg);
  }
  60% {
    transform: scale(1.03) rotate(5deg);
  }
  70% {
    transform: scale(1) rotate(-5deg);
  }
  80% {
    transform: scale(0.97) rotate(5deg);
  }
  90% {
    transform: scale(0.97) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}